__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv/
venv/
tfenv/
api/venv/
api/__pycache__/

front_end/node_modules/
front_end/dist/
front_end/.vite/

.git/
.gitignore

Model_Dataset/dataset/
Model_Dataset/dataset_split/
dataset/
dataset_split/

api/uploads/*
!api/uploads/.gitkeep

*.log
*.tmp
